@import "~bootstrap/scss/bootstrap";
@import "~glightbox/dist/css/glightbox.min.css";
@import "~tiny-slider/src/tiny-slider";
@import "animate";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "../css/pokefont/pokefont.css";

$bg-color-dark-transparent: rgba(0, 0, 0, 0.3);

body {
  font-family: 'Pokemon';
  font-size: 17pt;
}

.font-xs {
  font-size: x-small;
}

.text-right {
  text-align: right;
}

.nav-link {
  font-size: 1.5rem !important;
}

a.nav-link#nav-current {
  color: #6b6b6b !important;
}

.dropdown-item {
  font-size: 1.5rem;
}

.sections-holder {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, $bg-color-dark-transparent 30%);

}

.bg-transparent-dark {
  background-color: $bg-color-dark-transparent;
}

.bordered-section-container {
  overflow: hidden;

  .seperator-checkerboard {
    z-index: 1;
    top: -60px;
    position: relative;
    background-repeat: repeat-x;
    height: 193px;
    width: 110%;
    left: -5%;
    background-image: url('../img/layout/transition-checkerboard.png');

    transform: rotate(177deg);

  }

  .seperator-checkerboard.inverted {
    top: 60px;
    transform: scaleX(-1) rotate(3deg);
  }

  .bordered-section {
    z-index: 5;

    * {
      z-index: inherit;
    }

  }
}

.img-nilllzz {
  z-index: 8;
}

.shadowed-bg {
  background-color: rgb(0 0 0 / 35%);
  box-shadow: 0px 0px 20px 20px rgb(0 0 0 / 35%);
}

.showoff_item {
  position: relative;
  display: block;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: black;
  border-color: white;
  border-style: solid;
  box-shadow: 2px 2px;
  text-decoration: none;
}

.selectBox-square-selected {
  box-shadow: 0px 0px;
  text-decoration: none;
  cursor: pointer;
  left: 2px;
  top: 2px;
  color: #c3c9d2;
}


.showoff_item:hover {
  box-shadow: 0px 0px;
  text-decoration: none;
  cursor: pointer;
  left: 2px;
  top: 2px;
  color: #c3c9d2;
}

footer {
  z-index: 5;

  * {
    z-index: inherit;

    * {
      z-index: inherit;
    }
  }
}

.media-logo {
  align-self: center;
}

.media-logo:hover {
  transform: scale(1.1);
}

.mw-unset {
  max-width: unset !important;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.bg-grass {
  background-attachment: fixed;
  background-position: center;
  background-image: url("../img/layout/tile_grass.png");
  background-repeat: repeat;
}

.img-auto-h {
  height: fit-content;
  align-self: center;
}

.crystal-textbox:hover {
  color: black;
}

a.crystal-textbox:hover {
  color: #6b6b6b !important;;
}

.dropstart .dropdown-menu {
  margin-top: 11px;
}

.badge-t-dark {
  color: black
}

.crystal-textbox {
  border-image-source: url("../img/layout/crystal_tb.png");
  border-image-slice: 155 155 155 155;
  border-image-width: 25px 20px 25px 20px;
  border-image-outset: 16px 13px 16px 13px;
  border-image-repeat: stretch stretch;
  background-color: white !important;
  color: black;
  margin: 16px 13px 16px 13px;
  font-family: Pokemon;
  border-style: solid;

  a {
    color: black;
  }

  .a:hover {
    color: #6b6b6b;
  }

  li {
    a {
      color: black !important;
    }

    a:hover {
      color: #6b6b6b !important;;
    }
  }

  a.btn-success {
    color: white;
  }
}

.bg-boards {
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-image: url("../img/layout/tile_boards.png");
  background-repeat: repeat;
}

.bg-summer {
  background-attachment: fixed;
  background-position: center;
  background-image: url("../img/summer.png");
  background-repeat: repeat;

}

.bg-spring {
  background-attachment: fixed;
  background-position: center;
  background-image: url("../img/layout/spring.png");
  background-repeat: repeat;

}

.bg-bg_carpet {
  background-attachment: fixed;
  background-position: center;
  background-image: url("../img/layout/bg_carpet.png");
  background-repeat: repeat;

}

.bg-bg_lab_floor {
  background-attachment: fixed;
  background-position: center;
  background-image: url("../img/layout/bg_lab_floor.png");
  background-repeat: repeat;

}

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.bg-summer {
  background-attachment: fixed;
  background-position: center;
  background-image: url("../img/layout/bg_lab_floor.png");
  background-repeat: repeat;
  color: white;
}

.bg-scrolling {

}

.mon-holder {
  border-radius: 21px 21px 0 0;
  height: 100%;
}


.bg-transparent {
  color: rgba(255, 255, 255, 170);
}

.modal-body {
  .btn-close {
    background-color: white;
    width: 0.1em;
    height: 0.1em;
  }

  div {
    margin: 0;
  }
}

.github-avatar {
  height: 1.2em;
  border-radius: 500px;
}

a {
  color: #c3c9d2;
}

.bg-light {
  color: #212529;
}

.flex-equal > * {
  flex: 1;
}


@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }

  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
